{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Nationality</th>
                <th>SchoolLevel</th>
                <th>ActivityActuelle</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.nationality }}</td>
                <td>{{ student.schoolLevel }}</td>
                <td>{{ student.activityActuelle }}</td>
                <td>{{ student.country }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.telephone }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
