{% extends 'base.html.twig' %}
{% block seo %}
    <title>Bureau d'études géotechnique et physique | Expertise en analyse des sols et environnement |  Be for you 241 Gabon</title>
    <meta name="description" content=" Be for you 241 Gabon, Notre bureau d'études géotechnique et physique propose des analyses approfondies des sols, des études hydrogéologiques et des évaluations des risques environnementaux pour garantir la réussite et la durabilité de vos projets.">
    <meta name="keywords" content=" Be for you 241 Gabon, bureau d'études géotechnique, étude du sol, analyse des sols, étude hydrogéologique, évaluation des risques environnementaux, expertise géotechnique, construction durable, gestion des ressources en eau, risques environnementaux, fondations solides">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Bureau d'études géotechnique et physique</h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>Notre bureau d'étude géotechnique et physique est spécialisé dans l'analyse approfondie des sols et des environnements naturels pour garantir la réussite et la durabilité de vos projets.

                                </p>
                                <p>Grâce à une équipe d'experts et à des technologies de pointe, nous fournissons des solutions sur mesure répondant aux normes les plus strictes.
                                </p>
                            </div>
                            <ul>
                                <li>+ Étude du sol</li>
                                <li>+ Étude hydrogéologique</li>
                                <li>+ Évaluation des risques environnementaux</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/bureau-etude.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/etude.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail Étude du sol -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Étude du sol
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/etude-sol.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                L’étude du sol constitue une étape cruciale dans la réussite de tout projet de construction. Elle permet d’assurer la stabilité des infrastructures et d’optimiser les choix techniques en fonction des caractéristiques spécifiques du terrain.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Investigations géotechniques sur site</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Analyse en laboratoire</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Préconisations techniques</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Rapports d'études détaillés</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Étude hydrogéologique -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Étude hydrogéologique </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/hydro.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                L’eau, ressource essentielle, doit être maîtrisée dans tout projet de construction, notamment dans les régions où les interactions sol-eau peuvent poser des risques. Nos études hydrogéologiques permettent d’évaluer les ressources en eau et leur impact sur vos projets.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Cartographie des nappes phréatiques</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Analyse des flux hydriques</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Conseils pour la gestion des ressources en eau</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Études pour les infrastructures hydrauliques</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Évaluation des risques environnementaux -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Évaluation des risques environnementaux</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/evaluation.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Construire dans le respect de l'environnement<br>
                                Toute construction peut avoir un impact sur son environnement. Nous veillons à identifier les risques environnementaux liés à vos projets et à proposer des solutions adaptées pour une intégration durable.


                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Identification des pollutions potentielles</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Analyse des risques industriels et infrastructurels </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Élaboration de plans d’atténuation</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion des déchets et rejets</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/bureau_etude/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Une expertise au service de vos projets</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Étude du Sol : Garantir la Viabilité et la Sécurité des Projets
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>L'étude du sol est une étape incontournable dans tout projet de construction. Elle permet de comprendre les caractéristiques du terrain, d’anticiper les contraintes géotechniques et de proposer des solutions adaptées pour des fondations solides et pérennes.

                                                </p>
                                                <ul class="py-3">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Investigations géotechniques sur le terrain.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Analyses en laboratoire.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Rapports et recommandations.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Étude Hydrogéologique : Gérer et Exploiter les Ressources en Eau
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Une gestion optimale des ressources en eau est essentielle pour garantir la durabilité des projets, qu’il s’agisse de constructions, d’activités agricoles ou d’industries. Nos études hydrogéologiques permettent d’évaluer la disponibilité, la qualité et l’impact de l’eau souterraine.</p><br>
                                                <br>
                                                Nos services comprennent :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Cartographie et modélisation hydrogéologique
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Analyse des ressources en eau
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Solutions techniques et accompagnement :
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Études pour les infrastructures hydrauliques
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Évaluation des Risques Environnementaux : Vers un Développement Responsable
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    L’évaluation des risques environnementaux est essentielle pour intégrer vos projets dans leur environnement tout en limitant leur impact. Nous vous accompagnons dans l’identification et la gestion des risques pour garantir leur conformité réglementaire et leur durabilité.
                                                </p>

                                                <br>
                                                Nos prestations :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Identification et analyse des pollutions potentielles
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Évaluation des impacts liés aux infrastructures
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Plans d'atténuation et stratégies de gestion
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Accompagnement et certification
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/bureau/1.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/bureau/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/bureau/3.png') }}" alt="Portfolio Image"></a>

                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/bureau/4.png') }}" alt="Portfolio Image"></a>

                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}