{% extends 'base.html.twig' %}
{% block seo %}
    <title>Forage d'Eau et Maintenance Hydraulique - Expertise en Forage d'Eau et Maintenance Hydraulique - be for you, Be for you 241 Gabon </title>
    <meta name="description" content="be for you, Be for you 241 Gabon, Découvrez nos services spécialisés en construction, forage d'eau, maintenance des installations hydrauliques et assistance technique. Des solutions sur-mesure pour vos projets domestiques, agricoles et industriels.">
    <meta name="keywords" content="be for you,be for you 241 Be for you 241 Gabon, forage d'eau, maintenance hydraulique, assistance technique, construction BTP, installation hydraulique, gestion des ressources en eau, projets hydrauliques, forage domestique, forage agricole, forage industriel">
{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Maintenance, Assistance Technique et Forage d'Eau
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Nos services combinent expertise technique, innovation et engagement pour répondre aux besoins de nos clients en matière de gestion, d’exploitation et d’entretien des ressources en eau.
                                </p>
                                <p>
                                    Que ce soit pour des projets de forage, l’installation de systèmes hydrauliques ou la maintenance, nous proposons des solutions sur-mesure adaptées à vos besoins.
                                </p>
                            </div>
                            <ul>
                                <li>+ Forage d'Eau</li>
                                <li>+ Maintenance des Installations Hydrauliques</li>
                                <li>+ Assistance Technique</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/forage/forage.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/forage/for.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail Étude du sol -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Forage d'Eau : Garantir un Accès Durable aux Ressources en Eau
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/forage/puit.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous réalisons des projets de forage d’eau pour divers usages : domestique, agricole, industriel ou communal. Nos services incluent toutes les étapes, de la conception à la mise en service.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Études préalables</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Travaux de forage</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Tests et mise en service</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Étude hydrogéologique -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Maintenance des Installations Hydrauliques : Préserver la Durabilité </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/forage/maintenance.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Pour assurer le fonctionnement optimal des installations de captage et de distribution d’eau, nous proposons des services de maintenance préventive et curative.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Maintenance préventive</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Maintenance curative</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Évaluation des risques environnementaux -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Assistance Technique : Un Accompagnement Personnalisé</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/forage/assistance.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Notre équipe d’experts vous accompagne tout au long de vos projets, en apportant des solutions adaptées à chaque situation.


                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Conseil technique</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Formation </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Support sur mesure</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/forage/main_b.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Maintenance, Assistance Technique et Forage d'Eau
                            </h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Forage d'Eau : Une Ressource Essentielle à Votre Portée
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Nous mettons à votre disposition des solutions de forage adaptées aux besoins domestiques, agricoles, industriels et municipaux.

                                                </p>
                                                <ul class="py-3">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Études préalables.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Travaux de forage.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Tests de performance.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Maintenance des Installations Hydrauliques : Garantir Leur Longévité
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Nos services de maintenance visent à prévenir les pannes, à prolonger la durée de vie des équipements et à maintenir des performances optimales.

                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Maintenance préventive
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Maintenance curative
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Assistance Technique : Un Support Complet à Chaque Étape
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Nous vous accompagnons dans toutes les étapes de vos projets hydrauliques, de la conception à l’exploitation.

                                                </p>
                                                <br>
                                                Nos prestations comprennent :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Études et conseils personnalisés
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Formation des équipes locales
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Support opérationnel
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/forage/4.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/forage/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/forage/1.png') }}" alt="Portfolio Image"></a>

                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/forage/3.png') }}" alt="Portfolio Image"></a>

                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}