{% extends 'base.html.twig' %}
{% block seo %}
    <title>Projets d'infrastructure et construction (BTP) | Be for you 241 Gabon</title>
    <meta name="description" content=" Be for you 241 Gabon, spécialiste en BTP, propose des services de construction, réalisation de micropieux, chaudronnerie, routes pavées et gestion de projets tout corps d'état. Découvrez nos solutions innovantes et durables.">
    <meta name="keywords" content=" Be for you, Be for you Gabon, BTP, construction de bâtiment, micropieux, chaudronnerie, soudure, routes pavées, infrastructure, projets de construction, gestion de projets, Be for you, bâtiment et travaux publics">
{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Projets d'infrastructure et construction (BTP)</h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>Chez Be for you, nous sommes spécialisés dans la conception,
                                    la réalisation et la gestion de projets d'infrastructure et de construction
                                    dans le domaine du BTP (Bâtiment et Travaux Publics).

                                </p>
                                <p>Forts de notre expertise et de notre expérience,
                                    nous accompagnons nos clients dans la mise en œuvre de solutions innovantes et durables.
                                </p>
                            </div>
                            <ul>
                                <li>+ Construction de bâtiment</li>
                                <li>+ Construction Route pavée</li>
                                <li>+ Réalisation micropieux</li>
                                <li>+ Chaudronnerie Soudure</li>
                                <li>+ Tout corps d'état</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/construction/construction1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/construction/pavee.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail Construction de bâtiment -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">Construction de
                                bâtiment</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/construction/construction_menu.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous réalisons des bâtiments sur mesure pour répondre à vos besoins résidentiels, commerciaux ou industriels. Avec notre expertise, nous garantissons des constructions durables, modernes et conformes aux normes de qualité.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Maisons</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Immeubles</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Usines</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Bureaux</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Locaux</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Réalisation Micropieux -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">Réalisation Micropieux </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/construction/micropieux.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Spécialistes des fondations complexes, nous proposons la réalisation de micropieux pour renforcer vos structures en terrains difficiles. Notre expertise assure stabilité et durabilité à vos projets de construction.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Sous-structure de l'ouvrage(transfert de charge)</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soutènement du sol</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Reprise en sous-oeuvre</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Améliorer la stabilité de la masse du sol</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Chaudronnerie Soudure -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">Chaudronnerie Soudure</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/construction/soudure.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous offrons des services de chaudronnerie et de soudure pour des structures métalliques de haute précision. Notre équipe garantit des assemblages solides et conformes aux normes.


                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Refection des wagons</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soudure de citernes et cuves</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Réalisation de Hangars métallique</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soudure de bateaux</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Construction Route Pavée -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">Construction Route Pavée</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/construction/route-pavee.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Faites confiance à notre savoir-faire pour construire des routes pavées robustes et durables. Nous maîtrisons toutes les étapes, de l'étude du terrain à la pose des pavés, en passant par la préparation et l'aménagement. Nos routes répondent aux exigences de sécurité et de confort.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                        Routes urbaines et rurales

                                    </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                        Aménagements routiers durables
                                    </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                        Réfection de routes existantes
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Tout corps d’état -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">Tout corps d’état</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/construction/corp-etat.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous proposons une gestion complète de vos projets avec un service tout corps d’état. De la maçonnerie à l’électricité, en passant par la plomberie et les finitions, nous coordonnons chaque étape pour assurer la réussite de vos travaux.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Terrassement</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Confortement provisoire</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soutènement du sol</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mur de soutènement</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Fondations spéciales</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Gros œuvre</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Etanchéité</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Revêtement de façade</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Menuiserie extérieure</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/construction/all_image.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Projets d'infrastructure et construction (BTP)</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Construction de bâtiment
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Nous concevons et réalisons des bâtiments répondant aux normes les plus exigeantes en termes de qualité, de durabilité et d'esthétique. Qu'il s'agisse de projets résidentiels, commerciaux ou industriels, notre approche allie expertise technique et respect des délais.
                                                </p><br>
                                                Nos engagements :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Solutions sur mesure adaptées à vos besoins spécifiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Conformité réglementaire et respect des normes en vigueur.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Utilisation de matériaux de haute qualité et des techniques de construction modernes.
                                                    </li>
                                                </ul>



                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Réalisation micropieux
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Notre expertise dans la réalisation de micropieux permet de garantir la stabilité et la durabilité des constructions sur des terrains complexes ou instables. Grâce à des techniques avancées et à une maîtrise parfaite des contraintes géotechniques, nous renforçons vos infrastructures avec précision et efficacité.</p>

                                                <br>
                                                Applications :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Renforcement des fondations de structures existantes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stabilisation des terrains présentant des risques géologiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Adaptation pour les constructions en zones à forte contrainte sismique.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Tout corps d'état
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>En tant que maître d’œuvre, nous gérons l’intégralité de vos projets de construction grâce à nos services tout corps d’état. Notre coordination des différents corps de métier assure une exécution fluide, un respect strict des délais et une qualité irréprochable.</p>

                                                <br>
                                                Prestations incluses :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Gros œuvre : fondations, maçonnerie, charpente.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Second œuvre : isolation, plomberie, électricité, menuiserie.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Finitions : peinture, revêtements de sol, aménagements intérieurs.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Suivi de chantier et contrôle qualité à chaque étape.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Construction Route pavée
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Nous offrons des solutions complètes pour la construction de routes pavées, avec un focus sur la durabilité, la résistance et la sécurité. Grâce à des méthodes éprouvées et à des équipements de pointe, nous réalisons des infrastructures routières fiables et performantes.</p>
                                                Points forts :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Analyse approfondie du terrain et étude d'ingénierie.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Pose de pavés répondant aux exigences techniques et esthétiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Respect des délais et optimisation des coûts.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">

                                                Chaudronnerie Soudure
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>CNos services de chaudronnerie et de soudure s'inscrivent dans une logique de qualité et de performance. Nous concevons et réalisons des structures métalliques complexes, assurant une précision d'exécution irréprochable et une durabilité optimale.</p>
                                                <br>
                                                Compétences clés :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Fabrication et assemblage de structures métalliques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Réparation et maintenance d’équipements industriels complexes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Mise en œuvre de soudures spécifiques respectant les normes internationales.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/btp/1.png') }}"
                                                                  alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/btp/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/btp/3.png') }}" alt="Portfolio Image"></a>

                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/btp/4.png') }}" alt="Portfolio Image"></a>

                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}