{% extends 'base.html.twig' %}
{% block seo %}
    <title>Conception Graphique, Design, Sublimation & Sérigraphie - Créativité Visuelle Impactante |  Be for you 241 Gabon</title>

    <meta name="description" content=" Be for you 241 Gabon, Découvrez nos services de conception graphique, design, sublimation et sérigraphie. Nous créons des visuels uniques et personnalisés pour renforcer votre identité de marque et captiver votre audience. Qualité, innovation et créativité au service de vos projets.">

    <meta name="keywords" content=" Be for you 241 Gabon, conception graphique, design créatif, création visuelle, identité visuelle, graphisme professionnel, sublimation textile, personnalisation sur mesure, sérigraphie grand format, impression publicitaire, supports de communication, design numérique, impression sur objets promotionnels, marquage textile, impression haute qualité, création publicitaire, décoration personnalisée, branding visuel, communication visuelle, design d'affiches, flyers personnalisés, création de logos, impression écologique, design marketing, techniques d'impression innovantes, supports promotionnels">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Conception Graphique et Design
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    La conception graphique et le design sont au cœur de toute communication visuelle réussie. Ces disciplines permettent de transformer vos idées en créations uniques et impactantes, adaptées à vos besoins spécifiques.
                                </p>
                                <p>
                                    Que ce soit pour votre marque, vos produits, ou vos campagnes marketing, nous proposons des solutions sur mesure qui reflètent votre identité et captivent votre audience.
                                </p>
                            </div>
                            <ul>
                                <li>+ Graphisme : Création Visuelle de Haut Niveau </li>
                                <li>+ Sublimation : Une Technique de Personnalisation Intégrée </li>
                                <li>+ Sérigraphie : Une Solution Idéale pour les Grandes Séries </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->

        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Graphisme : Création Visuelle de Haut Niveau</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/graphisme.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Le graphisme est l’art de transmettre des messages à travers des éléments visuels harmonieux et percutants.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Identité visuelle.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Supports de communication.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Design numérique.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Création publicitaire</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Sublimation : Une Technique de Personnalisation Intégrée</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/sublimation.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                La sublimation est une méthode d’impression innovante qui garantit une qualité exceptionnelle sur des supports variés. Elle est particulièrement adaptée aux projets nécessitant des couleurs éclatantes et une intégration parfaite dans le support.


                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Textiles</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Objets promotionnels</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Décoration</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression sur Papier -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Sérigraphie : Une Solution Idéale pour les Grandes Séries</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/serigraphie.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                La sérigraphie est une technique traditionnelle d’impression utilisée pour les projets en grandes quantités ou nécessitant une forte durabilité.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Impression sur textile</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Marquage sur matériaux</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Produits promotionnels</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/print/conception/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Une Créativité au Service de Vos Idées</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Graphisme : L'Art de Communiquer par l'Image
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Le graphisme est essentiel pour renforcer l’identité de votre marque et transmettre efficacement vos messages.

                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Créations originales et adaptées à votre secteur.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Expertise dans le respect des tendances visuelles modernes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Garantie de qualité et d’impact visuel.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Sublimation : Une Personnalisation Haute Définition
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p> La sublimation est idéale pour donner un rendu exceptionnel et durable à vos projets personnalisés.

                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Couleurs éclatantes et photoréalistes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression intégrée au support, résistante à l’usure et aux lavages.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Convient aux projets personnalisés et aux petites séries.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Sérigraphie : La Référence pour les Grandes Séries
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>La sérigraphie est une technique classique qui reste incontournable pour les impressions à grande échelle.
                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Marquage sur textile : T-shirts, sweats, sacs promotionnels, etc.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression sur matériaux variés : Bois, métal, plastique, et verre.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Supports publicitaires : Stylos, porte-clés, carnets, et objets d’entreprise.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/conception/1.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/conception/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/conception/3.png') }}" alt="Portfolio Image"></a>

                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/textile/4.png') }}" alt="Portfolio Image"></a>

                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}