{% extends 'base.html.twig' %}
{% block seo %}
    <title>Impression Numérique et Offset - Solutions d'Impression de Qualité | Be for you 241 Gabon</title>
    <meta name="description" content=" Be for you 241 Gabon Découvrez nos services d'impression numérique et offset pour des résultats professionnels. Impression sur papier, brochures, flyers, et plus. Rapide, flexible et de haute qualité.">
    <meta name="keywords" content=" Be for you 241 Gabon impression numérique, impression offset, impression sur papier, impressions de qualité, impression rapide, impressions personnalisées, brochures, flyers, supports marketing">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Impression Numérique et Offset
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Notre expertise en impression couvre un large éventail de techniques adaptées à vos projets, qu’il s’agisse de documents professionnels, de supports marketing ou de textiles personnalisés.

                                </p>
                                <p>
                                    Grâce à nos équipements modernes et à notre savoir-faire, nous vous garantissons des résultats de haute qualité, dans les délais impartis.

                                </p>
                            </div>
                            <ul>
                                <li>+ Impression Offset </li>
                                <li>+ Impression Numérique</li>
                                <li>+ Impression sur Papier</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/print/offset.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/print/numerique.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/menu-offset.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                L’impression offset est idéale pour les projets nécessitant de grandes quantités et une qualité irréprochable. Cette méthode repose sur l’utilisation de plaques gravées pour transférer l’encre sur le support.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Catalogues et brochures</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Magazines et livres.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Flyers et affiches grand format.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Papeterie d’entreprise (cartes de visite, enveloppes, papier à en-tête)</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Impression Numérique : Rapidité et Flexibilité</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/menu-numerique.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                L’impression numérique est idéale pour les petits tirages ou les projets nécessitant une personnalisation. Contrairement à l’offset, elle ne nécessite pas de plaques gravées, ce qui permet une impression directe à partir de fichiers numériques.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Impression à la demande pour des besoins urgents.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Supports marketing personnalisés (mailings, étiquettes, cartes de fidélité).</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Affiches en petite série ou échantillons préliminaires.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression sur Papier -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Impression sur Papier</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/print/papier.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous proposons des solutions d’impression sur papier adaptées à tous vos besoins, que ce soit pour des documents officiels ou des supports marketing.


                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Flyers et affiches.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Dépliants, brochures et magazines.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Cartes de visite, papiers à en-tête et enveloppes.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/print/print_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Solutions d’Impression pour Tous Vos Besoins</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Construction de bâtiment
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Nous mettons à votre disposition une gamme complète de services d'impression répondant à vos besoins spécifiques. Que ce soit pour des supports publicitaires, des documents professionnels ou des textiles personnalisés, nous allions technologie de pointe et savoir-faire artisanal pour des résultats irréprochables.
                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression Offset : La Référence pour les Grandes Séries.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression Numérique : Rapide et Personnalisable.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression sur Papier : Supports de Communication Essentiels.
                                                    </li>
                                                </ul>



                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Réalisation micropieux
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Notre expertise dans la réalisation de micropieux permet de garantir la stabilité et la durabilité des constructions sur des terrains complexes ou instables. Grâce à des techniques avancées et à une maîtrise parfaite des contraintes géotechniques, nous renforçons vos infrastructures avec précision et efficacité.</p>

                                                <br>
                                                Applications :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Renforcement des fondations de structures existantes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stabilisation des terrains présentant des risques géologiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Adaptation pour les constructions en zones à forte contrainte sismique.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Tout corps d'état
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>En tant que maître d’œuvre, nous gérons l’intégralité de vos projets de construction grâce à nos services tout corps d’état. Notre coordination des différents corps de métier assure une exécution fluide, un respect strict des délais et une qualité irréprochable.</p>

                                                <br>
                                                Prestations incluses :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Gros œuvre : fondations, maçonnerie, charpente.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Second œuvre : isolation, plomberie, électricité, menuiserie.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Finitions : peinture, revêtements de sol, aménagements intérieurs.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Suivi de chantier et contrôle qualité à chaque étape.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Construction Route pavée
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Nous offrons des solutions complètes pour la construction de routes pavées, avec un focus sur la durabilité, la résistance et la sécurité. Grâce à des méthodes éprouvées et à des équipements de pointe, nous réalisons des infrastructures routières fiables et performantes.</p>
                                                Points forts :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Analyse approfondie du terrain et étude d'ingénierie.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Pose de pavés répondant aux exigences techniques et esthétiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Respect des délais et optimisation des coûts.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">

                                                Chaudronnerie Soudure
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>CNos services de chaudronnerie et de soudure s'inscrivent dans une logique de qualité et de performance. Nous concevons et réalisons des structures métalliques complexes, assurant une précision d'exécution irréprochable et une durabilité optimale.</p>
                                                <br>
                                                Compétences clés :
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Fabrication et assemblage de structures métalliques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Réparation et maintenance d’équipements industriels complexes.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Mise en œuvre de soudures spécifiques respectant les normes internationales.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/imprimerie/1.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/imprimerie/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/imprimerie/3.png') }}" alt="Portfolio Image"></a>

                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/imprimerie/4.png') }}" alt="Portfolio Image"></a>

                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}