{% extends 'base.html.twig' %}
{% block seo %}
    <title>Initiatives Sociales et Environnementales - BE-FOR-YOU Gabon</title>

    <meta name="description" content="be for you Gabon, Découvrez les actions sociales et environnementales de BE-FOR-YOU. Nous soutenons la jeunesse gabonaise avec des programmes d'incubation, des stages et des formations tout en engageant des actions pour préserver l'environnement pour les générations futures." />

    <meta name="keywords" content="be for you Gabon, Gabon, initiatives sociales, initiatives environnementales, jeunesse gabonaise, incubation d'entrepreneurs, stages professionnels, formations multiservices, développement durable, préservation de l'environnement, gestion durable des ressources, sensibilisation à l'environnement, actions écoresponsables, projets environnementaux, BE-FOR-YOU, éducation à l'environnement, partenariats stratégiques" />

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Initiatives Sociales & Environnementales
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Chez BE-FOR-YOU, nous sommes convaincus que la réussite d'une entreprise repose sur son engagement à contribuer au développement durable et à l'épanouissement des générations futures.
                                </p>
                                <p>
                                    C'est pourquoi nous plaçons les initiatives sociales et environnementales au cœur de nos activités.
                                </p>
                            </div>
                            <ul>
                                <li>+ Soutenir la Jeunesse Gabonaise</li>
                                <li>+ Préserver pour les Générations Futures</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/initiative_sociale/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/initiative_sociale/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+  Soutenir la Jeunesse Gabonaise
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/initiative_sociale/jeune.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                BE-FOR-YOU soutient la jeunesse gabonaise en proposant des programmes d’incubation pour les jeunes entrepreneurs, des stages professionnels et des formations multiservices pour favoriser leur épanouissement et leur insertion dans le monde du travail. L’organisation recommande également les jeunes talents auprès de ses partenaires, élargissant ainsi leurs opportunités professionnelles.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Épanouissement de la Jeunesse.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Incubation et Accompagnement de Projets</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Stages et Apprentissages Professionnels</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Formation Multiservices et Recommandations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Préserver pour les Générations Futures
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/initiative_sociale/preserver.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous nous engageons à préserver l’environnement pour les générations futures en mettant en œuvre des pratiques écoresponsables et en réduisant notre empreinte écologique. À travers des actions de sensibilisation, d’éducation et des partenariats stratégiques, nous encourageons la prise de conscience et soutenons des projets environnementaux durables.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion Durable des Ressources </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Sensibilisation et Éducation</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Partenariats Stratégiques</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->







        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/initiative_sociale/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Construire un Avenir Durable avec BE-FOR-YOU</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Nos Actions Sociales
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Épanouissement de la Jeunesse
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Incubation et Accompagnement de Projets
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stages et Apprentissages Professionnels
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Formation Multiservices et Recommandations
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Notre Engagement Environnemental
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Gestion Durable des Ressources
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Sensibilisation et Éducation
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Partenariats Stratégiques
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}