{% extends 'base.html.twig' %}
{% block seo %}
    <title>Programmes de Formation, Insertion Professionnelle et Entrepreneuriat pour les Jeunes | BE-FOR-YOU, Be for you Gabon</title>

    <meta name="description" content="Be for you Gabon, BE-FOR-YOU propose des programmes de formation et d'insertion professionnelle pour les jeunes, visant à renforcer leurs compétences techniques et entrepreneuriales. Nous offrons des formations certifiantes, un accompagnement personnalisé, ainsi que des opportunités d'entrepreneuriat et de stage. Découvrez nos initiatives pour favoriser l'autonomie, l'inclusion et l'employabilité des jeunes.">

    <meta name="keywords" content="Be for you Gabon,Gabon,formation professionnelle pour jeunes, insertion professionnelle, programmes d'emploi pour jeunes, entrepreneuriat jeune, accompagnement des jeunes, développement durable, compétences techniques, formations certifiantes, jeunes en recherche d'emploi, mentorat pour jeunes, entrepreneuriat en Afrique, développement de compétences, jeunes vulnérables, accompagnement à l'emploi, initiatives pour les jeunes, formations pratiques, entrepreneuriat social, emploi durable, inclusion sociale des jeunes, insertion professionnelle des jeunes, développement des jeunes, autonomie des jeunes, programmes pour jeunes vulnérables">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Programmes de Formation et d’Emploi pour les Jeunes
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Chez BE-FOR-YOU, nous considérons que l’autonomisation des jeunes est un pilier essentiel pour le développement durable.
                                </p>
                                <p>
                                    Nos programmes de formation et d’emploi sont conçus pour offrir aux jeunes les compétences, les opportunités et l’accompagnement nécessaires pour réussir sur le marché du travail et contribuer activement à l’économie locale.
                                </p>
                            </div>
                            <ul>
                                <li>+ Formations Professionnelles et Techniques</li>
                                <li>+ Accompagnement à l’Insertion Professionnelle</li>
                                <li>+ Promotion de l’Entrepreneuriat Jeune</li>
                                <li>+ Programmes Spécifiques pour les Populations Vulnérables</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/programme_formation/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/programme_formation/2.png') }}" alt="formateur Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Formations Professionnelles et Techniques
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/programme_formation/formation.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous offrons des formations pratiques et certifiantes pour doter les jeunes de compétences adaptées aux besoins du marché, augmentant ainsi leur employabilité.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Métiers techniques </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Nouvelles technologies </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion et entrepreneuriat </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+  Accompagnement à l’Insertion Professionnelle
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/programme_formation/accomp.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nos programmes ne se limitent pas aux formations, nous accompagnons également les jeunes dans leur parcours d’insertion en facilitant leur accès au marché du travail.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mise en relation avec des entreprises partenaires</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Stages et apprentissages</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Coaching et mentorat</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Promotion de l’Entrepreneuriat Jeune
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/programme_formation/entr.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous stimulons l’esprit d’entreprise en soutenant les jeunes dans la création et le développement de leurs projets.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Incubation et suivi personnalisé</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Accès à des financements</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Formations en gestion d’entreprise</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mise en réseau</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}