{% extends 'base.html.twig' %}
{% block seo %}
    <title>Projets de Développement Communautaire - BE-FOR-YOU | Éducation, Santé, Inclusion Sociale, Développement Durable, Be for you Gabon</title>

    <meta name="description" content="Be for you Gabon, BE-FOR-YOU s'engage pour le développement communautaire en mettant en œuvre des projets concrets pour améliorer l'accès à l'éducation, à la santé, à l'autonomisation, et à un environnement durable. Nos initiatives locales favorisent l'inclusion sociale et un avenir solidaire et prospère. Découvrez nos actions pour les communautés et la croissance durable.">

    <meta name="keywords" content="Be for you, Gabon, développement communautaire, projets de développement, éducation et formation, accès à la santé, autonomisation des communautés, inclusion sociale, développement durable, initiatives locales, projets sociaux, accès à l'eau potable, soutiens aux femmes et jeunes, insertion professionnelle, développement économique, santé et bien-être, soutien aux écoles, soutien aux centres de santé, égalité des chances, BE-FOR-YOU">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Projets de Développement Communautaire
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Chez BE-FOR-YOU, nous croyons que le développement d’une communauté passe par des actions concrètes et durables qui améliorent la qualité de vie des populations locales.
                                </p>
                                <p>
                                    C’est pourquoi nous mettons en place des projets de développement communautaire visant à renforcer l’accès aux services essentiels, à favoriser l’inclusion sociale et à promouvoir une croissance durable et équitable.
                                </p>
                            </div>
                            <ul>
                                <li>+ Accès à l’Éducation et à la Formation</li>
                                <li>+ Santé et Bien-être des Communautés</li>
                                <li>+ Développement des Infrastructures Locales</li>
                                <li>+ Autonomisation et Inclusion Sociale</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Accès à l’Éducation et à la Formation
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/acces_edu.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous soutenons les écoles et les centres de formation en mettant à disposition des ressources pédagogiques, en organisant des sessions de formation et en facilitant l’accès aux technologies éducatives.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Don de matériel scolaire et informatique</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mise en place de formations professionnelles </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Santé et Bien-être des Communautés
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/sante.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                L’accès aux soins et au bien-être est une priorité pour nous. Nous travaillons en partenariat avec des professionnels de santé pour sensibiliser et apporter des solutions aux populations vulnérables.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Organisation de campagnes de sensibilisation</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soutien aux centres de santé communautaires</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Accès à l’eau potable</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Autonomisation et Inclusion Sociale
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/inclusion.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous accompagnons les populations dans leur quête d’autonomie et d’inclusion sociale à travers des projets concrets favorisant l'entrepreneuriat et l’égalité des chances.                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soutien aux femmes et aux jeunes entrepreneurs</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Programmes d’insertion professionnelle</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Encouragement des initiatives locales</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>







        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/projet_dev/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Construire un Avenir Solidaire et Durable</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Nos Engagements pour les Communautés
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <small>
                                                    BE-FOR-YOU s’engage à construire un monde plus inclusif, solidaire et prospère, où chaque individu a les moyens d’améliorer sa vie et de contribuer au développement de sa communauté.
                                                </small>
                                                <ul class="pt-3">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Éducation et Formation : Un Pilier pour l’Avenir
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Développement Économique et Autonomisation
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Santé et Bien-être Communautaire
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Projets Environnementaux et Développement Durable
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Projets Environnementaux et Développement Durable
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}