{% block header %}
    <!-- Header area start -->
    <header class="header__area-2">
        <div class="header__inner-2">
            <div class="header__logo-2">
                <a href="{{ path('app_home') }}"><img src="{{ asset('assets/imgs/logo/be_for_you_white_2.png') }}" alt="Site Logo"></a>
            </div>
            <div class="header__nav-2">
                <ul class="main-menu menu-anim">
                    <li><a href="{{ path('app_about') }}">A propos</a></li>
                    <li class="has-megamenu"><a href="{{ path('app_activity') }}">Nos activités</a>
                        <ul class="mega-menu">
                            <li>
                                <a>Industrie</a>
                                <ul>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Bureau d études et ingénierie'}) }}">Bureau d'études et ingénierie</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Maintenance, assistance technique et forage d eau'}) }}">Maintenance, assistance technique et forage d'eau</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Print</a>
                                <ul>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Impression numérique et offset'}) }}">Impression numérique et offset</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Impression textile et tampographie'}) }}">Impression textile et tampographie</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Conception graphique et design'}) }}">Conception graphique et design</a></li>

                                </ul>
                            </li>
                            <li>
                                <a>School</a>
                                <ul>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Conception et fabrication d uniformes scolaires'}) }}">Conception et fabrication d'uniformes scolaires</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Collaboration avec écoles et institutions locales'}) }}">Collaboration avec écoles et institutions locales</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Communication</a>
                                <ul>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Conseil en communication et stratégie de marque'}) }}">Conseil en communication et stratégie de marque</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Organisation d événements et relations publiques'}) }}">Organisation d'événements et relations publiques</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Gestion des réseaux sociaux et campagnes publicitaires'}) }}">Gestion des réseaux sociaux et campagnes publicitaires</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Be for you RSE</a>
                                <ul>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Initiatives sociales et environnementales'}) }}">Initiatives sociales et environnementales</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Projets de développement communautaire'}) }}">Projets de développement communautaire</a></li>
                                    <li><a href="{{ path('app_service_detail', {'slug':'Programmes de formation et d’emploi pour les jeunes'}) }}">Programmes de formation et d’emploi pour les jeunes</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="has-megamenu"><a href="{{ path('app_portfolio') }}">Nos réalisations</a>
                        <ul class="mega-menu">
                            <li>
                                <a>Industrie</a>
                                <ul>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Bureau d études et ingénierie'}) }}">Bureau d'études et ingénierie</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Maintenance, assistance technique et forage d eau'}) }}">Maintenance, assistance technique et forage d'eau</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Print</a>
                                <ul>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Impression numérique et offset'}) }}">Impression numérique et offset</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Impression textile et tampographie'}) }}">Impression textile et tampographie</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Conception graphique et design'}) }}">Conception graphique et design</a></li>

                                </ul>
                            </li>
                            <li>
                                <a>School</a>
                                <ul>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Conception et fabrication d uniformes scolaires'}) }}">Conception et fabrication d'uniformes scolaires</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Collaboration avec écoles et institutions locales'}) }}">Collaboration avec écoles et institutions locales</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Communication</a>
                                <ul>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Conseil en communication et stratégie de marque'}) }}">Conseil en communication et stratégie de marque</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Organisation d événements et relations publiques'}) }}">Organisation d'événements et relations publiques</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Gestion des réseaux sociaux et campagnes publicitaires'}) }}">Gestion des réseaux sociaux et campagnes publicitaires</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Be for you RSE</a>
                                <ul>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Initiatives sociales et environnementales'}) }}">Initiatives sociales et environnementales</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Projets de développement communautaire'}) }}">Projets de développement communautaire</a></li>
                                    <li><a href="{{ path('app_realisations_filter', {'slug':'Programmes de formation et d emploi pour les jeunes'}) }}">Programmes de formation et d’emploi pour les jeunes</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li><a href="{{ path('app_blog_index') }}">Blog</a>
                    </li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>


            </div>
            <div class="header__nav-icon-2">
                <button class="menu-icon-2" id="open_offcanvas"><img src="{{ asset('assets/imgs/icon/menu-white.png') }}"
                                                                     alt="Menubar Icon"></button>
            </div>
        </div>
    </header>
    <!-- Header area end -->
{% endblock %}


<!-- Offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__body">
        <div class="offcanvas__left">
            <div class="offcanvas__logo">
                <a href="{{ path('app_home') }}"><img src="{{ asset('assets/imgs/logo/be_for_you_white_2.png') }}" alt="Offcanvas Logo"></a>
            </div>
            <div class="offcanvas__social">
                <h3 class="social-title">Suivez nous</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/company/be-for-you-gabon/" target="_blank">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="https://web.facebook.com/Be4UPrint/" target="_blank">Facebook</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
            <div class="offcanvas__links">
                <ul>
                    <li><a href="{{ path('app_about') }}">A propos</a></li>
                    <li><a href="{{ path('app_contact') }}">contact</a></li>
                    <li><a href="{{ path('app_team') }}">Equipe</a></li>
                    <li><a href="{{ path('app_blog_index') }}">blog</a></li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__mid">
            <div class="offcanvas__menu-wrapper">
                <nav class="offcanvas__menu">
                    <ul class="menu-anim">
                        <li><a href="">A propos</a>
                        </li>

                        <li><a>Nos activités</a>
                            <ul>
                                <li>
                                    <a>Industrie</a>
                                    <ul>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Bureau d études et ingénierie'}) }}">Bureau d'études et ingénierie</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Maintenance, assistance technique et forage d eau'}) }}">Maintenance, assistance technique et forage d'eau</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Print</a>
                                    <ul>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Impression numérique et offset'}) }}">Impression numérique et offset</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Impression textile et tampographie'}) }}">Impression textile et tampographie</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Conception graphique et design'}) }}">Conception graphique et design</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a>School</a>
                                    <ul>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Conception et fabrication d uniformes scolaires'}) }}">Conception et fabrication d'uniformes scolaires</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Collaboration avec écoles et institutions locales'}) }}">Collaboration avec écoles et institutions locales</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Communication</a>
                                    <ul>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Conseil en communication et stratégie de marque'}) }}">Conseil en communication et stratégie de marque</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Organisation d événements et relations publiques'}) }}">Organisation d'événements et relations publiques</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Gestion des réseaux sociaux et campagnes publicitaires'}) }}">Gestion des réseaux sociaux et campagnes publicitaires</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Be for you RSE</a>
                                    <ul>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Initiatives sociales et environnementales'}) }}">Initiatives sociales et environnementales</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Projets de développement communautaire'}) }}">Projets de développement communautaire</a></li>
                                        <li><a href="{{ path('app_service_detail', {'slug':'Programmes de formation et d’emploi pour les jeunes'}) }}">Programmes de formation et d’emploi pour les jeunes</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a>Nos réalisations</a>
                            <ul>
                                <li>
                                    <a>Industrie</a>
                                    <ul>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Bureau d études et ingénierie'}) }}">Bureau d'études et ingénierie</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Maintenance, assistance technique et forage d eau'}) }}">Maintenance, assistance technique et forage d'eau</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Print</a>
                                    <ul>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Impression numérique et offset'}) }}">Impression numérique et offset</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Impression textile et tampographie'}) }}">Impression textile et tampographie</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Conception graphique et design'}) }}">Conception graphique et design</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a>School</a>
                                    <ul>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Conception et fabrication d uniformes scolaires'}) }}">Conception et fabrication d'uniformes scolaires</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Collaboration avec écoles et institutions locales'}) }}">Collaboration avec écoles et institutions locales</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Communication</a>
                                    <ul>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Conseil en communication et stratégie de marque'}) }}">Conseil en communication et stratégie de marque</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Organisation d événements et relations publiques'}) }}">Organisation d'événements et relations publiques</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Gestion des réseaux sociaux et campagnes publicitaires'}) }}">Gestion des réseaux sociaux et campagnes publicitaires</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Be for you RSE</a>
                                    <ul>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Initiatives sociales et environnementales'}) }}">Initiatives sociales et environnementales</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Projets de développement communautaire'}) }}">Projets de développement communautaire</a></li>
                                        <li><a href="{{ path('app_realisations_filter', {'slug':'Programmes de formation et d emploi pour les jeunes'}) }}">Programmes de formation et d’emploi pour les jeunes</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a href="{{path('app_blog_index')}}">blog</a>
                        </li>
                        <li><a href="{{ path('app_contact') }}">contact</a></li>
                        <li><a href="{{ path('app_team') }}">Equipe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="offcanvas__right">
            <div class="offcanvas__search">
                <form action="#">
                    <input type="text" name="search" placeholder="Search keyword" id="input_search_field">
                    <label for="input_search_field"></label>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="offcanvas__contact">
                <h3>Contactez-nous</h3>
                <ul>
                    <li><a href="tel:+241 74242612">+241 74242612</a></li>
                    <li><a href="mailto:beforyou111@gmail.com">beforyou111@gmail.com</a></li>
                    <li>Institut des Technologies d'Owendo, Owendo, Gabon</li>
                </ul>
            </div>
            <img src="{{ asset('assets/imgs/shape/11.png') }}" alt="shape" class="shape-1">
            <img src="{{ asset('assets/imgs/shape/12.png') }}" alt="shape" class="shape-2">
        </div>
        <div class="offcanvas__close">
            <button type="button" id="close_offcanvas"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</div>
<!-- Offcanvas area end -->