{% extends 'base.html.twig' %}
{% block seo %}
    <title>Collaboration avec Écoles et Institutions Locales | Promotion de l'Entrepreneuriat et Développement Communautaire - Be for you Gabon</title>
    <meta name="description" content="Be for you Gabon, Nous collaborons activement avec des écoles, des universités et des institutions locales pour promouvoir l'éducation, soutenir les projets d'entrepreneuriat et encourager les jeunes talents à entreprendre. Découvrez nos initiatives pour renforcer les compétences locales et offrir des opportunités de développement personnel et professionnel.">
    <meta name="keywords" content="Be for you Gabon, Be for you, collaboration écoles, institutions locales, promotion entrepreneuriat, développement communautaire, soutien éducatif, mentorat, formation entrepreneuriale, partenariats éducatifs, projets jeunesse, entrepreneuriat local, opportunités de carrière, innovation sociale, développement durable, formation professionnelle, éducation des jeunes, initiatives locales, innovation éducative">

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Collaboration avec Écoles et Institutions Locales
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Nous croyons en l'importance de bâtir des partenariats solides avec les écoles et les institutions locales pour favoriser le développement des talents.                              </p>
                                <p>
                                    Promouvoir l'esprit entrepreneurial et soutenir les projets éducatifs et communautaires.

                                </p>
                            </div>
                            <ul>
                                <li>+ Partenariats avec les Écoles et Institutions Locales</li>
                                <li>+ Promotion du Culte Entrepreneurial</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/school/colaboration/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/school/colaboration/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Partenariats avec les Écoles et Institutions Locales
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/school/colaboration/partenaria.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Notre collaboration avec les établissements scolaires et les institutions locales repose sur des initiatives concrètes visant à inspirer et à accompagner les jeunes générations.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Soutien pédagogique : Organisation d'ateliers, de conférences et de séminaires adaptés aux besoins éducatifs.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Mentorat : Accompagnement des étudiants dans leurs projets académiques et professionnels.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Projets collaboratifs : Développement de programmes communs pour encourager l'innovation technologique et sociale.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Don de ressources : Fourniture de matériel ou de services pour soutenir les activités éducatives et culturelles.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Promotion du Culte Entrepreneurial
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/school/colaboration/entrepreuniat.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous sommes convaincus que l'entrepreneuriat est un levier essentiel pour le développement local et l'épanouissement personnel. À travers nos initiatives, nous visons à inspirer et former les futurs entrepreneurs.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Sensibilisation à l'entrepreneuriat : Sessions de découverte pour initier les étudiants et jeunes professionnels à l'entrepreneuriat.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Programmes de formation : Organisation de formations pratiques sur la gestion d'entreprise, le leadership, et l'innovation.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Encadrement des projets : Accompagnement personnalisé des jeunes porteurs d’idées pour transformer leurs concepts en projets viables.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/school/colaboration/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Soutenir l'Éducation et l'Entrepreneuriat</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Renforcer les Liens avec les Écoles et Institutions Locales
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Nous développons des programmes collaboratifs qui répondent aux besoins éducatifs et favorisent la réussite des élèves et des enseignants.
                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Soutien éducatif : Fourniture de ressources pédagogiques, organisation d’ateliers pratiques et encadrement des projets scolaires.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Infrastructures améliorées : Aide au développement des infrastructures éducatives, telles que les bibliothèques, laboratoires ou équipements informatiques.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Projets communs : Création de programmes éducatifs adaptés aux réalités locales, impliquant étudiants, enseignants et professionnels.
                                                    </li><li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Formation des enseignants : Sessions pour améliorer leurs compétences et intégrer de nouvelles technologies dans leurs pratiques.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Promouvoir le Culte Entrepreneurial
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    L'entrepreneuriat est une clé essentielle pour construire un avenir dynamique et prospère. Nous accompagnons les étudiants et les jeunes professionnels dans la découverte et le développement de leurs compétences entrepreneuriales.
                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Initiation à l’entrepreneuriat : Organisation de séminaires pour sensibiliser les jeunes aux opportunités offertes par la création d’entreprise.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Projets incubateurs : Identification et encadrement des idées innovantes grâce à un accompagnement personnalisé et des outils adaptés.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Compétitions et hackathons : Encourager la créativité et l’innovation à travers des défis collaboratifs et compétitifs.
                                                    </li><li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Création de réseaux : Mise en relation avec des entrepreneurs expérimentés, mentors et investisseurs pour soutenir les jeunes projets.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->


        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/colaboration/1.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/colaboration/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/colaboration/3.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/colaboration/4.png') }}" alt="Portfolio Image"></a>
                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}