{% extends 'base.html.twig' %}
{% block seo %}
    <title>Conception et Fabrication d'Uniformes Scolaires Personnalisés - Broderie, Reprographie et Graphisme, Be for you Gabon,Be for you</title>

    <meta name="description" content="Be for you Gabon, Spécialisés dans la conception et la fabrication d'uniformes scolaires, nous offrons des solutions sur mesure alliant confort, durabilité et esthétique. Personnalisation par broderie, reprographie, et design graphique pour un uniforme unique adapté à votre établissement." />

    <meta name="keywords" content="Be for you Gabon, Be for you, uniformes scolaires sur mesure, fabrication uniforme scolaire, conception uniforme personnalisé, broderie uniforme scolaire, reprographie scolaire, graphisme scolaire personnalisé, vêtements scolaires professionnels, uniformes scolaires confortables, couture uniforme sur mesure, design uniforme scolaire, impression logos écoles, sublimation sur tissu, sérigraphie scolaire, vêtements scolaires durables, personnalisation vêtements scolaires, uniforme scolaire élève, création uniformes écoles, design uniforme scolaire personnalisé" />

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">Conception et Fabrication d’Uniformes Scolaires
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Nous sommes spécialisés dans la conception et la fabrication d’uniformes scolaires qui allient confort, durabilité et esthétique. En collaboration étroite avec nos clients, nous créons des uniformes parfaitement adaptés à l’identité de chaque établissement.                                 </p>
                                <p>
                                    Chaque détail est pensé pour offrir un produit fini qui reflète les valeurs et l’image de votre institution.                                </p>
                            </div>
                            <ul>
                                <li>+ Reprographie : La Personnalisation sur Mesure</li>
                                <li>+ Broderie et Couture</li>
                                <li>+ Graphisme</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Reprographie : La Personnalisation sur Mesure
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/reprographie.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                La reprographie est un élément clé de notre processus de fabrication. Nous imprimons avec précision les éléments graphiques spécifiques à votre établissement pour garantir une uniformité parfaite.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Impression de logos et d’emblèmes scolaires.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Sérigraphie et sublimation pour des designs personnalisés sur divers tissus.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Impression numérique pour des détails complexes et des couleurs éclatantes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Broderie et Couture : L’Art du Détail et de la Durabilité
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/broderie.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                La broderie et la couture sont au cœur de la création de nos uniformes, apportant une touche élégante et professionnelle tout en garantissant une longévité exceptionnelle.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Broderie de haute qualité : Logos, noms d’écoles et autres motifs personnalisés.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Tissus de qualité : Sélection rigoureuse de matériaux confortables et résistants.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Finitions impeccables : Chaque pièce est cousue avec précision pour un rendu irréprochable.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+  Graphisme : Une Identité Visuelle Unique
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/design.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Le design graphique est essentiel pour concevoir des uniformes scolaires distinctifs. Nos experts en graphisme travaillent avec vous pour créer des visuels qui reflètent les valeurs de votre établissement.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Création et modernisation de logos scolaires.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Élaboration de motifs sur mesure pour vos uniformes.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Propositions de design adaptées à votre code couleur institutionnel.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/school/conception/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Une Solution Complète et Personnalisée</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Reprographie : Une Identification Visuelle Impeccable
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    La reprographie joue un rôle crucial dans la création d’uniformes scolaires personnalisés. Grâce à des techniques modernes et précises, nous apportons une identité visuelle forte à chaque uniforme.

                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression des logos et insignes des écoles.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Techniques avancées de sublimation et sérigraphie.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Impression numérique de haute définition pour les designs complexes.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Broderie et Couture : L’Élégance et la Durabilité
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Notre expertise en broderie et couture garantit des uniformes non seulement élégants, mais également robustes. Chaque pièce est conçue pour résister à une utilisation quotidienne tout en restant confortable pour les élèves.

                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Broderie professionnelle : Logos, slogans et autres personnalisations.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Couture de précision : Finitions soignées et design ajusté.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Tissus de qualité : Choix de matériaux respirants et durables adaptés aux enfants.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Graphisme : La Création de Designs Uniques
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Un uniforme scolaire est plus qu’un vêtement : c’est une déclaration d’identité. Notre équipe de graphistes travaille avec vous pour concevoir des motifs et des designs qui capturent l’essence de votre établissement.

                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Création ou modernisation de logos et visuels.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Développement de motifs adaptés à vos couleurs institutionnelles.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Maquettes personnalisées pour validation avant production.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->


        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
            <div class="container">
                <div class="row top_row">

                    <h2 class="portfolio__text">Galerie</h2>
                    <div class="portfolio__list-1">
                        <div class="portfolio__item">
                            <a href=""><img class="mover" src="{{ asset('assets/imgs/galerie/broderie/1.png') }}"
                                            alt="galerie Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/broderie/2.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/broderie/3.png') }}" alt="Portfolio Image"></a>
                        </div>
                        <div class="portfolio__item">
                            <a href=""><img src="{{ asset('assets/imgs/galerie/broderie/4.png') }}" alt="Portfolio Image"></a>
                        </div>

                    </div>
                </div>

                <!--

                <div class="row row_bottom">
                    <div class="col-xxl-12">
                        <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                            <a class="wc-btn-secondary btn-hover btn-item" href="{ path('app_contact') }"><span></span>Nous contacter</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <!-- Portfolio area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}