{% extends 'base.html.twig' %}
{% block seo %}
    <title>Conseil en Communication et Stratégie de Marque - Audit, Identité Visuelle, Stratégie Multicanal, et Gestion de Réputation | Be for you Gabon</title>

    <meta name="description" content="Be for you Gabon, Be for you 241, Nous vous accompagnons dans le développement d'une stratégie de communication efficace et d'une identité de marque cohérente. Nos services incluent l'analyse de marché, le diagnostic de votre image, la création de contenus impactants, ainsi que la gestion de votre réputation et relation client. Augmentez votre visibilité et renforcez votre positionnement sur le marché avec des stratégies adaptées à vos objectifs." />

    <meta name="keywords" content="Be for you Gabon, Be for you, Be for you 241, conseil en communication, stratégie de marque, analyse de marché, diagnostic de marque, identité visuelle, création de contenu, stratégie multicanal, gestion de la réputation, marketing digital, branding, fidélisation client, gestion de crise, communication globale, relations publiques, réputation en ligne, storytelling, gestion de la relation client, publicités print et numériques, réseaux sociaux, stratégie de communication digitale" />

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Conseil en Communication et Stratégie de Marque
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Dans un monde où la communication est essentielle pour se démarquer, nous vous accompagnons dans la conception et la mise en œuvre d'une stratégie de marque solide et d’une communication impactante.                             </p>
                                <p>
                                    Notre expertise vous aide à créer une identité forte, cohérente et mémorable pour renforcer votre position sur le marché et établir des relations durables avec vos clients.

                                </p>
                            </div>
                            <ul>
                                <li>+ Analyse et Diagnostic</li>
                                <li>+ Définition de l'Identité de Marque</li>
                                <li>+ Stratégie de Communication Globale</li>
                                <li>+ Gestion de la Réputation et Relation Client</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->


        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Analyse et Diagnostic
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/analyste.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous commençons par une évaluation approfondie de votre marque, de votre positionnement actuel et de votre communication existante.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Étude de marché et analyse concurrentielle.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Évaluation de votre identité visuelle, messages clés et outils de communication.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Identification des opportunités et points à améliorer pour maximiser votre impact.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Stratégie de Communication Globale
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/strategie.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Une stratégie sur mesure pour atteindre vos objectifs tout en restant alignée sur l’identité de votre marque.                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Développement d’un plan de communication multicanal (digitale, print, événementiel).</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Création de contenus impactants pour vos supports marketing (brochures, réseaux sociaux, campagnes publicitaires, etc.).</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Planification de campagnes publicitaires pour maximiser votre visibilité.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Gestion de la Réputation et Relation Client
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/reputation.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Construire et entretenir une image positive de votre marque auprès de vos clients et partenaires.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion de la communication de crise et veille d’e-réputation.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Développement de stratégies pour fidéliser vos clients et renforcer leur engagement.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/conseil_communication/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Construisez une Marque Puissante et Durable</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Diagnostic et Audit
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Un point de départ indispensable pour comprendre votre situation actuelle et vos ambitions.
                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Analyse de votre image de marque et de votre positionnement.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Étude des forces, faiblesses, opportunités et menaces (SWOT).
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Évaluation de vos outils de communication existants et de leur efficacité.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Développement de l'Identité de Marque
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Donnez à votre entreprise une personnalité distinctive qui résonne avec vos clients.
                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Création ou modernisation de l’identité visuelle (logo, charte graphique, typographie, couleurs).
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Définition de vos valeurs fondamentales, de votre vision et de votre mission.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Construction d’un message clé cohérent et d’un storytelling captivant.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Élaboration de la Stratégie de Communication
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Une communication adaptée pour maximiser votre impact et atteindre vos objectifs.
                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Conception d’un plan de communication à court, moyen et long terme.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Choix des canaux de communication pertinents (web, réseaux sociaux, publicités print, etc.).
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Rédaction et production de contenus engageants pour capter l’attention de votre public cible.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Gestion de la Marque et de la Réputation
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Renforcez votre notoriété et gérez efficacement votre image publique.</p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stratégie de fidélisation client et engagement communautaire.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Surveillance et gestion de l’e-réputation en ligne.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Réponse proactive à la communication de crise et aux commentaires négatifs.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}