{% extends 'base.html.twig' %}
{% block seo %}
    <title>Gestion des Réseaux Sociaux et Campagnes Publicitaires - Stratégies Digitales sur Mesure pour Entreprises, Be for you Gabon, Be for you</title>

    <meta name="description" content="Be for you Gabon, Be for you, Boostez votre visibilité et votre impact en ligne grâce à notre expertise en gestion des réseaux sociaux et campagnes publicitaires. Nous vous accompagnons dans l'élaboration de stratégies personnalisées pour optimiser votre présence numérique, générer de l'engagement et atteindre vos objectifs commerciaux. Profitez de services adaptés à vos besoins et de solutions sur mesure pour une gestion efficace de vos campagnes marketing." />

    <meta name="keywords" content="Be for you Gabon, Be for you, gestion des réseaux sociaux, campagnes publicitaires en ligne, stratégie marketing digitale, optimisation de la visibilité en ligne, création de contenu digital, publicité ciblée, gestion de la réputation en ligne, engagement sur les réseaux sociaux, publicité Facebook, Google Ads, publicité multicanal, analyse des performances publicitaires, stratégie de communication digitale, gestion de la communauté en ligne, branding, marketing numérique, stratégie de contenu, marketing sur les réseaux sociaux, développement digital pour entreprises, stratégie publicitaire sur mesure" />

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Gestion des Réseaux Sociaux et Campagnes Publicitaires
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    Dans un monde où la visibilité en ligne est essentielle, la gestion des réseaux sociaux et des campagnes publicitaires est un levier incontournable pour atteindre vos objectifs.
                                </p>
                                <p>
                                    Nous vous accompagnons dans la création, la gestion et l’optimisation de votre présence numérique pour maximiser votre impact auprès de votre audience.

                                </p>
                            </div>
                            <ul>
                                <li>+ Gestion des Réseaux Sociaux</li>
                                <li>+ Campagnes Publicitaires</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/gestion_reseau/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/gestion_reseau/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Gestion des Réseaux Sociaux
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/gestion_reseau/gestion.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                La gestion des réseaux sociaux est bien plus qu'une simple animation de pages : c’est un levier puissant pour renforcer votre image de marque et interagir directement avec votre audience. Nous vous accompagnons dans l’élaboration d’une stratégie percutante et l’animation de vos réseaux pour générer un véritable impact.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Stratégie sur Mesure </li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Création de Contenus</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Animation et Modération</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Analyse des Performances</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Campagnes Publicitaires
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">

                            <img src="{{ asset('assets/imgs/activities/gestion_reseau/compagne.png') }}" alt="be for you compagne publicitaire image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>

                        <div class="service__detail-content">
                            <div>
                                Les campagnes publicitaires en ligne permettent de toucher précisément votre audience et de transformer vos prospects en clients. Nous concevons des annonces stratégiques et optimisées pour garantir un retour sur investissement maximal.                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Publicité Ciblée</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion du Budget</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Multi-Canal</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Rapports Clairs</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/gestion_reseau/main_bas.png') }}" alt="FAQ Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">Développez Votre Présence Digitale et Attirez Votre Public Cible</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Gestion des Réseaux Sociaux
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Dans un monde où les réseaux sociaux dominent les interactions numériques, avoir une stratégie solide est essentiel.
                                                </p><br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Diagnostic Initial
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stratégie de Contenu
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Interaction Communautaire
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Optimisation Continue
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Campagnes Publicitaires
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Les campagnes publicitaires en ligne représentent un atout clé pour accroître votre visibilité, générer du trafic et convertir vos prospects en clients. Nous concevons des stratégies publicitaires innovantes et adaptées à vos objectifs commerciaux.
                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Ciblage Intelligent
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Design et Message Persuasifs
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Optimisation de Budget
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Rapports et Insights
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Élaboration de la Stratégie de Communication
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Une communication adaptée pour maximiser votre impact et atteindre vos objectifs.
                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Conception d’un plan de communication à court, moyen et long terme.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Choix des canaux de communication pertinents (web, réseaux sociaux, publicités print, etc.).
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Rédaction et production de contenus engageants pour capter l’attention de votre public cible.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Gestion de la Marque et de la Réputation
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Renforcez votre notoriété et gérez efficacement votre image publique.</p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Stratégie de fidélisation client et engagement communautaire.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Surveillance et gestion de l’e-réputation en ligne.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Réponse proactive à la communication de crise et aux commentaires négatifs.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}