{% extends 'base.html.twig' %}
{% block seo %}
    <title>Organisation d'Événements et Relations Publiques - Création d'Événements Impactants pour Votre Marque, Be for you Gabon</title>

    <meta name="description" content="Be for you, Gabon, Be for you, Spécialistes en organisation d'événements et gestion des relations publiques, nous offrons des solutions sur mesure pour chaque entreprise. Conception, planification, logistique, coordination et promotion : nous assurons un événement clé en main. Attirez l'attention de votre public et renforcez la visibilité de votre marque grâce à nos stratégies de communication innovantes et efficaces." />

    <meta name="keywords" content="Be for you, Gabon,organisation d'événements, relations publiques, gestion des événements, planification d'événements, stratégie événementielle, communication d'entreprise, gestion logistique d'événements, gestion de la communication, promotion d'événements, relations presse, création d'événements, conception d'événements sur mesure, événements d'entreprise, marketing événementiel, coordination d'événements, stratégie de marque, promotion de marque, organisation de conférences, séminaires, salons, événements professionnels, gestion des relations publiques, création de contenu événementiel, médias sociaux pour événements, communication visuelle événementielle" />

{% endblock %}


{% block main %}


    <main>

        <!-- Development area start -->
        <section class="development__area">
            <div class="container g-0 line pt-130 pb-100">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title animation__char_come">
                                Organisation d'Événements et Relations Publiques
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="development__wrapper">
                            <div class="development__content">
                                <p>
                                    L’organisation d’événements et les relations publiques sont des outils essentiels pour promouvoir votre marque, établir des connexions solides avec votre public et renforcer votre présence sur le marché.

                                </p>
                                <p>
                                    Nous vous offrons des solutions sur mesure pour concevoir des événements mémorables et gérer efficacement votre communication auprès de vos parties prenantes.
                                </p>
                            </div>
                            <ul>
                                <li>+ Conception et Planification</li>
                                <li>+ Gestion Logistique et Coordination</li>
                                <li>+ Communication et Promotion</li>
                                <li>+ Types d’Événements que Nous Organisons</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/organisation/1.png') }}" alt="construction Image" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="development__img">
                            <img src="{{ asset('assets/imgs/activities/organisation/2.png') }}" alt="forage Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development area end -->




        <!-- Service detail impression Offset : Une Solution Traditionnelle pour des Résultats Professionnels -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Conception et Planification
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/organisation/conception.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Chaque événement est conçu pour répondre à vos objectifs et refléter l’identité de votre entreprise.

                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Définition des objectifs et des cibles de l’événement.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Sélection du thème, du lieu et des prestataires.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Création d’un planning détaillé pour une exécution sans faille.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Gestion Logistique et Coordination
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/organisation/logistique.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Nous prenons en charge tous les aspects logistiques pour garantir une expérience fluide et réussie.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Réservation des espaces et aménagement des lieux.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion des intervenants, du personnel et des fournisseurs.</li>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Supervision sur place pour assurer le bon déroulement.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->

        <!-- Service detail Impression Numérique : Rapidité et Flexibilité -->
        <section class="service__detail">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-title title-anim">+ Communication et Promotion
                            </h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                        <div class="service__detail-circle">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                        <div class="service__detail-img">
                            <img src="{{ asset('assets/imgs/activities/organisation/communication_promotion.png') }}" alt="Service detail image">
                            <img src="{{ asset('assets/imgs/icon/shape-6.png') }}" alt="Service shape image" class="sd-shape">
                        </div>
                        <div class="service__detail-content">
                            <div>
                                Attirez l’attention de votre public et maximisez l’impact de vos événements.
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> Création de supports promotionnels (affiches, invitations, contenu pour les réseaux sociaux).</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Gestion des relations presse et des partenariats.</li>
                                    <li class="py-2"><i class="fa fa-check-circle" aria-hidden="true"></i> Couverture médiatique avant, pendant et après l’événement.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service detail area end -->


        <!-- FAQ area start -->
        <section class="faq__area">
            <div class="container g-0 line pb-140">
                <div class="line-3"></div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__img">
                            <img src="{{ asset('assets/imgs/activities/organisation/main_bas.png') }}" alt="Organisation d'Événements et Relations Publiques" data-speed="auto">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="faq__content">
                            <h2 class="faq__title title-anim">L’Art de Marquer les Esprits et de Bâtir des Relations Solides</h2>

                            <div class="faq__list ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Élaboration de Concepts Innovants
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Chaque événement est pensé pour refléter l’identité et les valeurs de votre marque tout en atteignant vos objectifs spécifiques.
                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Création de concepts uniques et personnalisés.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Alignement sur vos enjeux marketing ou institutionnels.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Intégration de tendances modernes pour un impact maximal.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Gestion Logistique et Technique
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Notre équipe assure la gestion de tous les détails logistiques pour garantir la réussite de vos événements.
                                                </p>

                                                <br>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Sélection des lieux en fonction de vos besoins.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Coordination des prestataires (traiteurs, décorateurs, techniciens).
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Mise en place de solutions techniques (son, lumière, audiovisuel).
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Expérience Client Immersive
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    Nous plaçons l’expérience des participants au cœur de nos préoccupations.
                                                </p>
                                                <ul class="pt-2">
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Création d’interactions engageantes pour vos invités.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Conception d’espaces immersifs et attractifs.
                                                    </li>
                                                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        Gestion des animations et des activités sur place.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

    </main>

{% endblock %}



  {% block modal_testimonial %}
  {% endblock %}

{% block java_script %}
    {{ parent() }}
    <script>
        let header_bg_2 = document.querySelector(".header__area-2");
        if (header_bg_2) {
            header_bg_2.style.background = "#071c45";
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    header_bg_2.style.background = "#071c45";
                    header_bg_2.classList.add("sticky-2");
                    if (scroll_top) {
                        scroll_top.style.display = "block";
                    }
                } else {
                    header_bg_2.style.background = "#071c45";
                }
            };
        }
    </script>
{% endblock %}