<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block seo %}
    <title>Be for you</title>
    <meta name="description" content="Axtra HTML5 Template">
    <meta name="keywords" content="mots-clés, optimisé SEO, exemple">
  {% endblock %}


  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="{{ asset('assets/imgs/logo/be_for_you_logo.jpeg') }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- All CSS files -->
  <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/progressbar.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/meanmenu.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/master.css') }}">
  <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>

{% endblock %}


<body class="dark">

  <!-- Cursor Animation -->
  <div class="cursor1"></div>
  <div class="cursor2"></div>

  {% block  preloader %}
  <!-- Preloader -->
  <div class="preloader">
    <div class="loading">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
      <div class="bar bar4"></div>
      <div class="bar bar5"></div>
      <div class="bar bar6"></div>
      <div class="bar bar7"></div>
      <div class="bar bar8"></div>
    </div>
  </div>
  {% endblock %}

  {% block Switcher %}
  <!-- Switcher Area Start -->
  <div class="switcher__area">
    <div class="switcher__icon">
      <button id="switcher_open"><i class="fa-solid fa-gear"></i></button>
      <button id="switcher_close"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="switcher__items">
      <div class="switcher__item">
        <div class="switch__title-wrap">
          <h2 class="switcher__title">Cursor</h2>
        </div>
        <div class="switcher__btn">
          <select name="cursor-style" id="cursor_style">
            <option value="1">default</option>
            <option selected value="2">animated</option>
          </select>
        </div>
      </div>

      <div class="switcher__item">
        <div class="switch__title-wrap">
          <h2 class="switcher__title">mode</h2>
        </div>
        <div class="switcher__btn mode-type wc-col-2">
          <button data-mode="light">light</button>
          <button class="active" data-mode="dark">dark</button>
        </div>
      </div>

      <div class="switcher__item">
        <div class="switch__title-wrap">
          <h2 class="switcher__title">Language Support</h2>
        </div>
        <div class="switcher__btn lang_dir wc-col-2">
          <button class="active" data-mode="ltr">LTR</button>
          <button data-mode="rtl">RTL</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Switcher Area End -->
  {% endblock %}



  <!-- Scroll Smoother -->
  <div class="has-smooth" id="has_smooth"></div>


  <!-- Client Cursor -->
  <div class="cursor" id="client_cursor">Play</div>


  <!-- Go Top Button -->
  <button id="scroll_top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>

  {% block  header %}
  <!-- Header area start -->
  <header class="header__area">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html">
          <img class="logo-primary" src="{{ asset('assets/imgs/logo/be_for_you_white.png') }}" alt="Site Logo">
          <img class="logo-secondary" src="{{ asset('assets/imgs/logo/site-logo-white-2.png') }}" alt="Moibile Logo">
        </a>
      </div>
      <div class="header__nav-icon">
        <button id="open_offcanvas"><img src="{{ asset('assets/imgs/icon/menu-white.png') }}" alt="Menubar Icon"></button>
      </div>
      <div class="header__support">
        <p><a href="tel:+241 74242612">+241 74242612</a></p>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  {% endblock %}

  {% block offcanvas_area %}
  <!-- Offcanvas area start -->
  <div class="offcanvas__area">
    <div class="offcanvas__body">
      <div class="offcanvas__left">
        <div class="offcanvas__logo">
          <a href="index.html"><img src="{{ asset('assets/imgs/logo/be_for_you_white_2.png') }}" alt="Offcanvas Logo"></a>
        </div>
        <div class="offcanvas__social">
          <h3 class="social-title">Suivez nous</h3>
          <ul>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">YouTube</a></li>
          </ul>
        </div>
        <div class="offcanvas__links">
          <ul>
            <li><a href="about.html">A propos</a></li>
            <li><a href="contact.html">contact</a></li>
            <li><a href="career.html">Equipe</a></li>
            <li><a href="blog.html">blog</a></li>
          </ul>
        </div>
      </div>
      <div class="offcanvas__mid">
        <div class="offcanvas__menu-wrapper">
          <nav class="offcanvas__menu">
            <ul class="menu-anim">
              <li>
                <a href="{{ path('app_home') }}">Accueil</a>
              </li>
              <li>
                <a href="{{ path('app_about') }}">A propos</a>
              </li>
              <li>
                <a href="{{ path('app_services') }}">services</a>
              </li>
              <li>
                <a href="{{path('app_portfolio') }}">portfolio</a>
              </li>
              <li>
                <a href="{{ path('app_blog_index') }}">BLOG</a>
              </li>
              <li>
                <a href="{{path('app_contact') }}">contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="offcanvas__right">
        <div class="offcanvas__search">
          <form action="#">
            <input type="text" name="search" placeholder="Search keyword">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div class="offcanvas__contact">
          <h3>Contactez-nous</h3>
          <ul>
            <li><a href="tel:02094980547">+241 74242612</a></li>
            <li><a href="mailto:info@extradesign.com">beforyou111@gmail.com</a></li>
            <li>Institut des Technologies d'Owendo, Owendo, Gabon</li>
          </ul>
        </div>
        <img src="{{ asset('assets/imgs/shape/11.png') }}" alt="shape" class="shape-1">
        <img src="{{ asset('assets/imgs/shape/12.png') }}" alt="shape" class="shape-2">
      </div>
      <div class="offcanvas__close">
        <button type="button" id="close_offcanvas"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  </div>
  <!-- Offcanvas area end -->
  {% endblock %}


  <div id="smooth-wrapper">
    <div id="smooth-content">
      {% block main %}
      <main>


        <!-- Hero area start -->
        <section class="hero__area ">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="hero__content animation__hero_one">
                  <a href="" class="px-1">Imprimerie, Infographie, Broderie, Couture, Reprographie <span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                  <div class="hero__title-wrapper">
                    <h1 class="hero__title">Be for you !</h1>
                    <h1 class=""><br><br></h1>
                    <p class="hero__sub-title">Structure spécialisée dans l'imprimerie,
                      l'infographie, la broderie, la couture, la reprographie
                    </p>
                  </div>
                  <img src="{{ asset('assets/imgs/icon/arrow-down-big.png') }}" alt="Arrow Down Icon">
                  <div class="experience">
                    <h2 class="title">35k+</h2>
                    <p>Projets terminés<br>avec succès</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <img src="{{ asset('assets/imgs/hero/1/1-bg.png') }}" alt="image" class="hero1_bg">
        </section>
        <!-- Hero area end -->


        <!-- Roll area start -->
        <section class="roll__area bg-primary">
          <div class="swiper roll__slider">
            <div class="swiper-wrapper roll__wrapper">
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Imprimerie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Infographie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Broderie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Couture</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Reprographie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Forage</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Broderie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Couture</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Reprographie</h2>
              </div>
              <div class="swiper-slide roll__slide">
                <h2 class="text-white">Forage</h2>
              </div>




            </div>
          </div>
        </section>
        <!-- Roll area end -->


        <!-- About area start -->
        <section class="about__area">
          <div class="container line g-0 pt-140 pb-130">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="about__title-wrapper">
                  <h3 class="sec-title title-anim">Nous libérons le potentiel de votre
                    entreprise</h3>
                </div>

                <div class="about__content-wrapper">
                  <div class="about__img">
                    <div class="img-anim">
                      <img src="{{ asset('assets/imgs/about/1/1_copie_23.png') }}" alt="About Image" data-speed="0.3">
                    </div>

                    <div class="about__img-right">
                      <img src="{{ asset('assets/imgs/about/1/2_copie_2.png') }}" alt="About Image Right" data-speed="0.5">
                      <div class="shape">
                        <div class="secondary" data-speed="0.9"></div>
                        <div class="primary"></div>
                      </div>
                    </div>
                  </div>

                  <div class="about__content text-anim">
                    <p>
                      Vous êtes un établissement scolaire ou universitaire et voulez un partenaire durable pour vos divers besoins ?
                      Choisissez Be-for-you School comme partenaire et fournisseur pour vos tenues scolaires et universitaires, mais aussi pour vos besoins en impression numérique, en communication et en matériel informatique.
                      Devenez un de nos nombreux partenaires satisfaits et travaillons ensemble !
                    </p>

                    <div class="cursor-btn btn_wrapper">
                      <a class="btn-item wc-btn-primary btn-hover" href="about.html"><span></span> Explorez-nous<i
                          class="fa-solid fa-arrow-right"></i></a>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- About area end -->


        <!-- Service area start -->
        <section class="service__area pt-110 pb-150">
          <div class="container">
            <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="sec-title-wrapper wrap">
                  <h2 class="sec-sub-title title-anim">service</h2>
                  <h3 class="sec-title title-anim">Solution que nous
                    <br>proposons</h3>
                </div>
              </div>
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="service__top-text text-anim">
                  <p>Avec chacun de nos clients, nous faisons naître une profonde passion
                    pour <span>résolution créative de problèmes
                      nouveautés</span> réflexion prospective
                    limites des marques</p>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <div class="service__top-btn">
                  <div class="btn_wrapper">
                    <a href="" class="btn-item wc-btn-secondary btn-hover"><span></span> Consulter <br>tous
                      nos services <i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="service__list-wrapper">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-0 col-md-0">
                  <div class="service__img-wrapper">
                    <img src="{{ asset('assets/imgs/service/1/1_copie.png') }}" alt="Service Image" class="service__img img-1 active">
                    <img src="{{ asset('assets/imgs/service/1/1_copie.png') }}" alt="Service Image" class="service__img img-2">
                    <img src="{{ asset('assets/imgs/service/1/1_copie.png') }}" alt="Service Image" class="service__img img-3">
                    <img src="{{ asset('assets/imgs/service/1/1_copie.png') }}" alt="Service Image" class="service__img img-4">

                    <span class="shape-box-1 bg-primary current"></span>
                    <span class="shape-box-2 bg-primary"></span>
                    <span class="shape-box-3 bg-primary"></span>
                    <span class="shape-box-4 bg-primary"></span>
                  </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12">
                  <div class="service__list">
                    <a href="service-details.html">
                      <div class="service__item animation_home1_service" data-service="1">
                        <div class="service__number"><span>01</span></div>
                        <div class="service__title-wrapper">
                          <h4 class="service__title">Imprimerie</h4>
                        </div>
                        <div class="service__text">
                          <p>Nous créons des produits, marques, applications et sites web pour les entreprises du monde entier avec des solutions d'impression de classe mondiale.</p>
                        </div>
                        <div class="service__link">
                          <p><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                      </div>
                    </a>

                    <a href="service-details.html">
                      <div class="service__item animation_home1_service" data-service="2">
                        <div class="service__number"><span>02</span></div>
                        <div class="service__title-wrapper">
                          <h4 class="service__title">Infographie</h4>
                        </div>
                        <div class="service__text">
                          <p>Nous concevons des produits, marques, applications et sites web avec des designs graphiques innovants et créatifs.</p>
                        </div>
                        <div class="service__link">
                          <p><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                      </div>
                    </a>

                    <a href="service-details.html">
                      <div class="service__item animation_home1_service" data-service="3">
                        <div class="service__number"><span>03</span></div>
                        <div class="service__title-wrapper">
                          <h4 class="service__title">Broderie</h4>
                        </div>
                        <div class="service__text">
                          <p>Nous offrons des services de broderie personnalisée pour vos produits, uniformes et textiles avec une qualité exceptionnelle.</p>
                        </div>
                        <div class="service__link">
                          <p><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                      </div>
                    </a>

                    <a href="service-details.html">
                      <div class="service__item animation_home1_service" data-service="4">
                        <div class="service__number"><span>04</span></div>
                        <div class="service__title-wrapper">
                          <h4 class="service__title">Couture</h4>
                        </div>
                        <div class="service__text">
                          <p>Nous réalisons des services de couture sur mesure pour répondre à vos besoins en matière de mode et de design textile.</p>
                        </div>
                        <div class="service__link">
                          <p><i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service area end -->


        <!-- Counter area start -->
        <section class="counter__area">
          <div class="container g-0 line pt-150">
            <span class="line-3"></span>

            <div class="row">
              <div class="col-xxl-12">
                <div class="counter__wrapper counter_animation">
                  <div class="counter__item counter__anim">
                    <h2 class="counter__number">25k+</h2>
                    <p>Projets <br>terminés</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item counter__anim">
                    <h2 class="counter__number">8k+</h2>
                    <p>Clients <br>satisfaits</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item counter__anim">
                    <h2 class="counter__number">15</h2>
                    <p>Années <br>d'expérience</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item counter__anim">
                    <h2 class="counter__number">98</h2>
                    <p>Récompenses <br>obtenues</p>
                    <span class="counter__border"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Counter area end -->


        <!-- Workflow area start -->
        <section class="workflow__area">
          <div class="container g-0 line pt-140 pb-140">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title title-anim">Flux de travail</h2>
                  <h3 class="sec-title title-anim">Comment nous travaillons</h3>
                </div>
              </div>

              <div class="col-xxl-12">
                <div class="swiper workflow__slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 01</h4>
                      <h5 class="workflow__number">01</h5>
                      <h6 class="workflow__title">Audience</h6>
                      <p>Apporter le marché à votre entreprise</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 02</h4>
                      <h5 class="workflow__number">02</h5>
                      <h6 class="workflow__title">Planification & Croquis</h6>
                      <p>Délicat et durable avec des vitamines et des nutriments</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 03</h4>
                      <h5 class="workflow__number">03</h5>
                      <h6 class="workflow__title">Personnalisation</h6>
                      <p>Créer des identités de marque pour les expériences numériques</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 04</h4>
                      <h5 class="workflow__number">04</h5>
                      <h6 class="workflow__title">Mis en productio</h6>
                      <p>Nous cherchons à aller au-delà des approches conventionnelles</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 05</h4>
                      <h5 class="workflow__number">05</h5>
                      <h6 class="workflow__title">Test Utilisateur</h6>
                      <p>Nous cherchons à aller au-delà des approches conventionnelles</p>
                    </div>

                    <div class="swiper-slide workflow__slide fade_left">
                      <h4 class="workflow__step">Étape 06</h4>
                      <h5 class="workflow__number">06</h5>
                      <h6 class="workflow__title">Test Utilisateur</h6>
                      <p>Nous cherchons à aller au-delà des approches conventionnelles</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Workflow area end -->


        <!-- Portfolio area start -->
        <section class="portfolio__area pb-140">
          <div class="container">
            <div class="row top_row">

              <h2 class="portfolio__text">Nos réalisations</h2>
              <div class="portfolio__list-1">
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img class="mover" src="{{ asset('assets/imgs/portfolio/1/1_copie.png') }}"
                      alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Forage description</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img src="{{ asset('assets/imgs/portfolio/1/2_copie.png') }}" alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Impremerie dess</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img src="{{ asset('assets/imgs/portfolio/1/1_copie.png') }}" alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Impremerie dess</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img src="{{ asset('assets/imgs/portfolio/1/2_copie.png') }}" alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Impremerie dess</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img src="{{ asset('assets/imgs/portfolio/1/1_copie.png') }}" alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Impremerie dess</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>
                <div class="portfolio__item">
                  <a href="portfolio-details.html"><img src="{{ asset('assets/imgs/portfolio/1/2_copie.png') }}" alt="Portfolio Image"></a>
                  <div class="portfolio__info">
                    <h3 class="portfolio__title">Impremerie dess</h3>
                    <p>02 May 2021</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="row row_bottom">
              <div class="col-xxl-12">
                <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                  <a class="wc-btn-secondary btn-hover btn-item" href="portfolio.html"><span></span>View <br>all
                    projects <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Portfolio area end -->


        <!-- Brand area start -->
        <section class="brand__area">
          <div class="container g-0 line pt-140 pb-130">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title title-anim">Marques Internationales</h2>
                  <h3 class="sec-title title-anim">Nous sommes heureux de collaborer avec les <br>
                    plus grandes marques du gabon</h3>
                </div>
              </div>

              <div class="col-xxl-12">
                <div class="brand__list">
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/1.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/2.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/3.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/4.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/5.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/6.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/3.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/4.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/5.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/6.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/1.png') }}" alt="Logo de la marque">
                  </div>
                  <div class="brand__item fade_bottom">
                    <img src="{{ asset('assets/imgs/brand/2.png') }}" alt="Logo de la marque">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Brand area end -->


        <!-- Testimonial area start -->
        <section class="testimonial__area">
          <div class="container g-0 line">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                <div class="testimonial__wrapper">
                  <div class="testimonial__item item-1">
                    <div class="button modal-trigger">
                      <div class="testimonial__img b-right">
                        <img src="{{ asset('assets/imgs/testimonial/1/1_copie.png') }}" alt="Image Témoignage">
                      </div>

                      <h2 class="testimonial__title">Jes Sherlock</h2>
                      <h3 class="testimonial__role">Responsable, Oitaka</h3>
                    </div>
                  </div>
                  <div class="sec-title-wrapper text-anim">
                    <h4 class="sec-sub-title">Témoignages</h4>
                    <h5 class="sec-title title-anim">Retour <br>des clients</h5>
                    <p>Nos clients satisfaits nous donnent des retours impactants et positifs sur nos services, notre support client, etc.</p>
                  </div>
                </div>

                <div class="testimonial__item item-2">
                  <div class="button modal-trigger-2">
                    <div class="testimonial__img b-left">
                      <img src="{{ asset('assets/imgs/testimonial/1/3_copie.png') }}" alt="Image Témoignage">
                    </div>

                    <h2 class="testimonial__title">Th ISS</h2>
                    <h3 class="testimonial__role">Responsable, Tech</h3>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="testimonial__item item-3 img-">
                  <div class="button modal-trigger-3">
                    <div class="testimonial__img b-left">
                      <img src="{{ asset('assets/imgs/testimonial/1/2_copie.png') }}" alt="Image Témoignage">
                    </div>

                    <h2 class="testimonial__title">Adam Smith</h2>
                    <h3 class="testimonial__role">Responsable, Oitaka</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Testimonial area end -->


        <!-- Blog area start -->
        <section class="blog__area no-pb blog__animation">
          <div class="container g-0 line pt-150 pb-140">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title">blog récent</h2>
                  <h3 class="sec-title">Aperçu des actualités</h3>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="blog-details.html">
                      <div class="img-box">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/3_copie.png') }}" alt="">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/3_copie.png') }}" alt="">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="category.html">Humanitaire</a> . 02 mai 2019</h4>
                  <h5><a href="blog-details.html" class="blog__title">Un Engagement Humanitaire Exemplaire envers l'Orphelinat Maison de l'Espérance
                    </a></h5>
                  <a href="blog-details.html" class="blog__btn">Lire la suite <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div>

              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="blog-details.html">
                      <div class="img-box">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/2_copie.png') }}" alt="">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/2_copie.png') }}" alt="">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="category.html">Fonda</a> . 02 mai 2019</h4>
                  <h5><a href="blog-details.html" class="blog__title">Comment gérer une équipe talentueuse et réussie</a></h5>
                  <a href="blog-details.html" class="blog__btn">Lire la suite <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div>

              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="blog-details.html">
                      <div class="img-box">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/3_copie.png') }}" alt="Aperçu du blog">
                        <img class="image-box__item" src="{{ asset('assets/imgs/blog/3_copie.png') }}" alt="Aperçu du blog">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="category.html">Design UI</a> . 02 mai 2019</h4>
                  <h5><a href="blog-details.html" class="blog__title">Comment apporter de l'argent à votre entreprise startup avec Axtra</a></h5>
                  <a href="blog-details.html" class="blog__btn">Lire la suite <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div>
            </div>
          </div>
        </section>

        <!-- Blog area end -->


        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pb-110">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Travaillez avec nous</p>
                  <h2 class="cta__title title-anim">Nous serions ravis d'en savoir plus sur votre projet</h2>
                  <div class="btn_wrapper">
                    <a href="contact.html" class="wc-btn-primary btn-hover btn-item"><span></span> Parlons-en <i
                              class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>
      {%  endblock %}

      {% block footer %}
      <!-- Footer area start -->
      <footer class="footer__area">
        <div class="footer__top">
          <div class="container footer-line"></div>
          <img src="{{ asset('assets/imgs/thumb/footer_copie.png') }}" alt="Footer Image" data-speed="0.75">
        </div>

        <div class="footer__btm">
          <div class="container">
            <div class="row footer__row">
              <div class="col-xxl-12">
                <div class="footer__inner">
                  <div class="footer__widget">
                    <img class="footer__logo" src="{{ asset('assets/imgs/logo/footer-logo-white-copie.png') }}" alt="Logo Footer">
                    <p>Quand fonctionnent-ils bien, et quand agissent-ils sur nous et finalement, quand en avons-nous réellement besoin, et comment pouvons-nous les éviter.</p>
                    <ul class="footer__social">
                      <li><a href="#"><span><i class="fa-brands fa-facebook-f"></i></span></a></li>
                      <li><a href="#"><span><i class="fa-brands fa-twitter"></i></span></a></li>
                      <li><a href="#"><span><i class="fa-brands fa-instagram"></i></span></a></li>
                      <li><a href="#"><span><i class="fa-brands fa-linkedin"></i></span></a></li>
                    </ul>
                  </div>

                  <div class="footer__widget-2">
                    <h2 class="footer__widget-title">Informations</h2>
                    <ul class="footer__link">
                      <li><a href="about.html">À propos de l'entreprise</a></li>
                      <li><a href="portfolio.html">Études de cas</a></li>
                      <li><a href="career.html">Carrière</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>

                  <div class="footer__widget-3">
                    <h2 class="footer__widget-title">Contactez-nous</h2>
                    <ul class="footer__contact">
                      <li>Institut des Technologies d'Owendo, Owendo, Gabon</li>
                      <li><a href="tel:02574328301" class="phone">+241 74242612</a></li>
                      <li><a href="mailto:info@buildyexample.com">beforyou111@gmail.com</a></li>
                    </ul>
                  </div>

                  <div class="footer__widget-4">
                    <h2 class="project-title">Vous avez un projet en tête ?</h2>
                    <div class="btn_wrapper">
                      <a href="contact.html" class="wc-btn-primary btn-hover btn-item"><span></span> Contactez-nous <i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <h3 class="contact-time">09 : 00 AM - 10 : 30 PM</h3>
                    <h4 class="contact-day">Samedi - Jeudi</h4>
                  </div>

                  <div class="footer__copyright">
                    <p>© 2024 - 2025 | Tous droits réservés par <a href="#" target="_blank">AntalaSoft </a></p>
                  </div>

                  <div class="footer__subscribe">
                    <form action="#">
                      <input type="email" name="email" placeholder="Entrez votre email">
                      <button type="submit" class="subs-btn"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </footer>
      <!-- Footer area end -->
      {% endblock %}

    </div>
  </div>


  {% block modal_testimonial %}

  <!-- Modal 1 -->
  <div class="modal__testimonial" id="modal_testimonial">
    <div class="modal__testimonial-content">
      <span class="modal__close" id="modal_close"><i class="fa-solid fa-xmark"></i></span>
      <iframe src="https://www.youtube.com/embed/" title="Testimonial Video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
      </iframe>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal__testimonial" id="modal_testimonial2">
    <div class="modal__testimonial-content">
      <span class="modal__close" id="modal_close2"><i class="fa-solid fa-xmark"></i></span>
      <iframe src="https://www.youtube.com/embed/" allowfullscreen></iframe>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="modal__testimonial" id="modal_testimonial3">
    <div class="modal__testimonial-content">
      <span class="modal__close" id="modal_close3"><i class="fa-solid fa-xmark"></i></span>
      <iframe src="https://www.youtube.com/embed/" allowfullscreen></iframe>
    </div>
  </div>
  {% endblock %}


  {% block java_script %}
  <!-- All JS files -->
  <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assets/js/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('assets/js/counter.js') }}"></script>
  <script src="{{ asset('assets/js/gsap.min.js') }}"></script>
  <script src="{{ asset('assets/js/ScrollTrigger.min.js') }}"></script>
  <script src="{{ asset('assets/js/ScrollToPlugin.min.js') }}"></script>
  <script src="{{ asset('assets/js/ScrollSmoother.min.js') }}"></script>
  <script src="{{ asset('assets/js/SplitText.min.js') }}"></script>
  <script src="{{ asset('assets/js/chroma.min.js') }}"></script>
  <script src="{{ asset('assets/js/mixitup.min.js') }}"></script>
  <script src="{{ asset('assets/js/vanilla-tilt.js') }}"></script>
  <script src="{{ asset('assets/js/jquery.meanmenu.min.js') }}"></script>
  <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}


</body>

</html>